.container {
    width: 100%;
    background-color: #1B1B1B;
    padding: 75px 0px;

    & .actionsWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 85px;
        padding: 0px 75px;
        h2 {
            font-weight: 700;
            font-size: 64px;
            color: #fff
        }
        & .buttonsWrapper {
            display: flex;
            align-items: center;
        }
    }

    & .cardsWrapper {
        display: flex;
        align-items: center;
        overflow: auto;
        margin-bottom: 58px;
    }

    & .catalogButtonWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 600;
        font-size: 24px;
        color: #F5F5F5;
        margin-right: 75px;
            a {
                border-bottom: 2px dotted #fff;

            }
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide {
    width: 80%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 60%;
  }
  
  .swiper-slide:nth-child(3n) {
    width: 40%;
  }
  